@font-face {
  font-family: IranYekan;
  font-style: normal;
  font-weight: bold;
  src: url("../webfonts/iranyekanwebbold.woff") format('woff');
}
@font-face {
  font-family: IranYekan;
  font-style: normal;
  font-weight: 300;
  src: url("../webfonts/iranyekanweblight.woff") format('woff');
}
@font-face {
  font-family: IranYekan;
  font-style: normal;
  font-weight: normal;
  src: url("../webfonts/iranyekanwebregular.woff") format('woff');
}
@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  src: url("../webfonts/robotobold.woff") format('woff');
}
@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 300;
  src: url("../webfonts/robotolight.woff") format('woff');
}
@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  src: url("../webfonts/robotoregular.woff") format('woff');
}
.pdfont {
  font-family: IranYekan, roboto, Arial !important;
}
