/*
Name: Tall-right Light
Designer: Pepro Dev. Group
Original: YES
*/

@font-face {
    font-family: bodyfont;
    font-style: normal;
    font-weight: 400;
    src: url('../96594ad4.woff2') format('woff2');
}

body * {
    font-family: bodyfont, roboto, Tahoma;
}

body.login a {
    color: white !important;
}

body.login {
    display: flex;
    justify-content: flex-start;
}

.login .button.wp-hide-pw:focus {
    background: transparent;
    border-color: transparent;
    box-shadow: 0 0 0 1px transparent;
    outline: 2px solid transparent;
}

#backtoblog {
    display: none;
}

.login #nav {
    margin: 20px 0 0 0;
}

.login form {
    padding: 26px 24px 0px;
    box-shadow: none;
    background: transparent;
    border: 1px solid transparent;
}

#login form p {
	margin-bottom: 0;
	color: #ccc;
}
body.login div#login p#nav {
    display: flex;
    justify-content: space-between;
    color: transparent;
}

body.login div#login {
    background: rgba(255, 255, 255, 0.18);
    max-width: 400px;
    width: 100%;
    margin: 0;
    padding: 5rem 5px 2rem 5px;
    box-shadow: 0px 0px 9px -5px rgba(0, 0, 0, .5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wp-core-ui .button.focus,
.wp-core-ui .button.hover,
.wp-core-ui .button:hover,
.wp-core-ui .button-secondary:hover,
.wp-core-ui .button:focus,
.wp-core-ui .button-secondary:focus {
    color: white;
}

.wp-core-ui .button,
.wp-core-ui .button-secondary {
    color: white;
}

body.login div#login h1 a {
    color: transparent;
}

body.login div#login form#loginform {
    background: transparent;
    border: none;
}

input[type="text"],
input[type="password"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
select:focus,
textarea:focus {
    border-color: white;
    box-shadow: 0 0 0 1px white;
    outline: 2px solid transparent;
}

input[type="checkbox"],
input[type="radio"] {
    color: #fff;
}

input[type="checkbox"]:checked::before {
    content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%23fff%27%2F%3E%3C%2Fsvg%3E");
    margin: -0.1875rem -0.16rem 0 0;
}

.login form .input,
.login input[type="text"],
.login form input[type="checkbox"] {
    background: transparent;
}

input[type="checkbox"],
input[type="radio"] {
    border: 1px solid #fff;
}

body.login div#login form label {
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body.login div#login form#loginform p.submit input#wp-submit {
    width: 100%;
    margin-top: 1rem;
    height: 3rem;
    color: white;
    background: #5aafe7;
    border-color: #5aafe7;
}

wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary:focus {
    box-shadow: none;
}

#registerform {
  background: 0 0;
  border: transparent;
  color: #fff;
}
