/*
Name: Default
Designer: WordPress
Original: YES
*/

@font-face {
    font-family: bodyfont;
    font-style: normal;
    font-weight: 400;
    src: url('../96594ad4.woff2') format('woff2');
}

body * {
    font-family: bodyfont, roboto, Tahoma;
}

body.login {}


/* ..................................................................The page background*/

body.login div#login {}


/* ........................................................The container of the form box*/

body.login div#login h1 {}


/*......................................................The WordPress logo container*/

body.login div#login p.message {}


/*...............................................The WordPress Alerts*/

body.login div#login h1 a {}


/*....................................................The WordPress logo*/

body.login div#login form#loginform {}


/*..........................................The box that contains the form*/

body.login div#login form#loginform p {}


/*........................................All paragraphs in the form*/

body.login div#login form#loginform p label {}


/*..................................The username and password field labels*/

body.login div#login form#loginform input {}


/*....................................Both input fields (username and password)*/

body.login div#login form#loginform input#user_login {}


/*.........................Just the username input field*/

body.login div#login form#loginform input#user_pass {}


/*..........................Just the password input field*/

body.login div#login form#loginform p.forgetmenot {}


/*............................The Remember Me field*/

body.login div#login form#loginform p.forgetmenot input#rememberme {}


/*...........The Remember Me checkbox*/

body.login div#login form#loginform p.forgetmenot input#rememberme+label {}


/*.....The Remember Me checkbox label*/

body.login div#login form#loginform p.submit {}


/*.................................The Submit button container*/

body.login div#login form#loginform p.submit input#wp-submit {}


/*.................The Submit button*/

body.login div#login p#nav {}


/*...................................................Bottom Links container*/

body.login div#login p#nav a {}


/*.................................................Register/LostPass Links*/

body.login div#login p#backtoblog {}


/*............................................Back to Site container*/

body.login div#login p#backtoblog a {}


/*..........................................Back to Site link*/