/**
 * @Last modified by:   amirhp-com
 * @Last modified time: 2022/08/14 21:20:43
 */
:root {
	--tippy-color: #bf1e2e;
}

pdtoast,
toastwide {
	display: block;
	padding: 0.5rem 2rem;
	background: var(--toast-bg, rgba(0, 0, 0, .8));
	color: #fff;
	text-align: center;
	bottom: 0;
	width: 100vw;
	padding: 1rem 0;
	left: 0;
	z-index: 99999;
	box-shadow: 0 2px 11px 0 rgba(0, 0,0, 0.5);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	-moz-backdrop-filter: blur(10px);
	transform: translateY(110%);
	position: fixed;
	z-index: 9999999999999999 !important;
}

pdtoast.active,
toastwide.active {
	transform: translateY(0);
}

[data-pepro-reglogin] > form .force-ltr {
	direction: ltr;
	text-align: left;
}

body:not(.section-edit) [data-pepro-reglogin] > form .force-ltr {
	padding: 0 1rem;
}

[data-pepro-reglogin] > form .pepro-login-reg-field {
	margin: 1.5rem 0;
	text-align: start;
	position: relative;
}

[data-pepro-reglogin] > form.inline error {
	position: absolute;
	right: 0;
	left: auto;
	top: 3px;
	display: block;
	width: 18px;
	height: 18px;
	background: #d63638;
	text-align: center;
	border-radius: 100%;
	color: white;
	font-weight: 800;
	font-size: small;
	cursor: help;
	line-height: 1.5;
}

[data-pepro-reglogin] > form.floating_from_label.inline error {
	top: -0.5rem;
}

[dir="rtl"] [data-pepro-reglogin] > form.inline error {
	left: 0;
	right: auto;
}

.tippy-box[data-theme~='error'] {
	background-color: var(--tippy-color);
}

.tippy-box[data-theme~='error'][data-placement^='top'] > .tippy-arrow::before {
	border-top-color: var(--tippy-color);
}

.tippy-box[data-theme~='error'][data-placement^='bottom'] > .tippy-arrow::before {
	border-bottom-color: var(--tippy-color);
}

.tippy-box[data-theme~='error'][data-placement^='left'] > .tippy-arrow::before {
	border-left-color: var(--tippy-color);
}

.tippy-box[data-theme~='error'][data-placement^='right'] > .tippy-arrow::before {
	border-right-color: var(--tippy-color);
}

.jconfirm.jconfirm-modern .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c {
	transform: scale(1) !important;
}

.tippy-content en {
	font-family: initial !important;
}

[data-pepro-reglogin] > form #login_error:empty,
[data-pepro-reglogin] > form .login_error:empty {
	display: none;
}

[data-pepro-reglogin] > form #login_error,
[data-pepro-reglogin] > form .login_error {
	display: block;
	border-left: 4px solid #72aee6;
	padding: 12px;
	margin-right: 0;
	margin-bottom: 20px;
	background-color: #fff;
	box-shadow: 0 1px 1px 0 #0000001a;
	border-color: #d63638;
}

[dir="rtl"] [data-pepro-reglogin] > form .login_error,
[dir="rtl"] [data-pepro-reglogin] > form #login_error {
	border-left: none;
	border-right: 4px solid #72aee6;
}

[data-pepro-reglogin] > form #login_error.info,
[data-pepro-reglogin] > form .login_error.info {
	border-color: #72aee6;
}

[data-pepro-reglogin] > form #login_error.success,
[data-pepro-reglogin] > form .login_error.success {
	border-color: #00a32a;
}

[data-pepro-reglogin] > form #login_error.error,
[data-pepro-reglogin] > form .login_error.error {
	border-color: #d63638;
}

[data-pepro-reglogin] > form #login_error {
	display: none !important;
}

.pepro-verify-container,
[data-pepro-reglogin] {
	display: block;
	overflow: hidden;
}

.popup-active {
	display: block !important;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #00000085;
	z-index: 99997 !important;
	overflow: hidden;
	cursor: pointer;
}

.popup-active .pepro-verify-container,
.popup-active [data-pepro-reglogin] {
	display: block !important;
	position: fixed;
	cursor: auto;
	left: 0;
	top: 0;
	width: 400px;
	background: white;
	color: black;
	box-shadow: 0 0 8px -2px #000;
	padding: 1rem;
	border-radius: 4px;
	transform: translate(calc(50vw - 200px), 10vh);
	max-height: 80vh;
	overflow: auto;
	scrollbar-width: thin;
	z-index: 99999 !important;
}
@media only screen and (max-width: 450px) {
	.popup-active .pepro-verify-container,
	.popup-active [data-pepro-reglogin] {
		width: 98%;
		transform: translate(1%, 10vh);
	}

	[data-pepro-reglogin] > form .pepro-form-links {
		flex-direction: column;
		align-items: center;
	}

	[data-pepro-reglogin] > form .pepro-form-links > a:not(:last-of-type) {
		margin-bottom: 1rem;
	}
}

[data-pepro-reglogin] > form .form-text.button.button-primary {
	min-width: 100%;
}

[data-pepro-reglogin] > form .pepro-login-reg-field.hide {
	display: none;
}

[data-pepro-reglogin] > form :is(input, select, textarea):is(:valid, :invalid, :active, :focus, :hover),
pdmain form .form-group :is(input, select, textarea):is(:valid, :invalid, :active, :focus) {
	box-shadow: 0 0 0 1px #e8e8e8 inset;
}

pdmain [data-pepro-reglogin] > form.inline :is(input, select, textarea):is(:active, :focus),
pdmain form .form-group :is(input, select, textarea):is(:active, :focus) {
	box-shadow: 0 0 0 1px var(--color-content-primary, currentColor) inset !important;
}

[data-pepro-reglogin] > form .form-required label::after {
	content: " *";
	color: currentColor !important;
}

.pepro-form-links a:not(:last-of-type) {
	margin-bottom: 0.5rem;
}

[data-pepro-reglogin] > form {
	display: none;
}

[data-pepro-reglogin] > form.inline {
	display: block;
	overflow: auto;
	max-height: calc(80vh - 3rem);
	scrollbar-width: thin;
	padding: 1rem;
}
@media only screen and (max-width: 480px) {
	[data-pepro-reglogin] > form.inline {
		max-height: unset;
	}

	pdwrapper.guest pdmain {
		width: unset;
		margin: auto;
	}

	.peprodev-ups.guest pdmain .pepro-login-reg-container {
		padding: 0;
	}

	.extra-logon-headers h2 {
		font-size: x-large;
	}
}

.login-action-rp .button.wp-generate-pw {
	color: initial !important;
}

.pepro-login-reg-field.submit-wrap.form-required button {
	display: block;
	width: 100%;
}

.pepro-login-reg-field .ahrefbtn {
	width: 100%;
}

.otp-resend.disabled {
	color: gray;
}

.pepro-form-links a[class*="switch"]:last-of-type {
	float: inline-end;
}

.center_extra_button .pepro-form-links a[class*="switch"] {
	border: 1px solid #ccc;
	padding: 0.5rem;
	width: 100%;
	text-align: center;
	border-radius: 5px;
	clear: both;
	float: right;
}

.pepro-form-links .otp-resend {
	float: left;
	margin-top: 0.5rem;
}

.pepro-form-links .otp-changenum {
	float: right;
	margin-top: 0.5rem;
}

.pepro-login-reg-field.submit-wrap.form-required #submit {
	border-radius: 5px;
}

[data-tippy-root] {
	z-index: 99999999 !important;
}

.g-recaptcha {
	margin-bottom: 1.5rem;
}

.popup-active .pepro-verify-container,
.popup-active [data-pepro-reglogin] {
	overflow: hidden !important;
}

.pepro-form-links a:not(:last-of-type) {
	margin-bottom: 1rem !important;
}

.pepro-login-reg-field.recaptcha-wrap {
	direction: ltr;
}

.pepro-login-reg-container form h6 {
	border: none !important;
	text-align: center;
	padding: 2rem 0 1rem 0 !important;
	color: var(--color-content-primary, #019162);
	font-weight: bold;
}

.popup-active [data-pepro-reglogin] {
	border-radius: 1rem !important;
	padding: 0.5rem !important;
}

form.floating_from_label .pepro-login-reg-field label {
	position: absolute;
	top: 0.5rem;
	padding: 0 1rem;
	margin: 0 0.5rem;
	transition: all 0.3s linear;
	right: auto;
	left: 0;
	z-index: 2;
	pointer-events: none;
}

[dir="rtl"] form.floating_from_label .pepro-login-reg-field label {
	left: auto;
	right: 0;
}

form.floating_from_label .pepro-login-reg-field.has-placeholder label,
form.floating_from_label .pepro-login-reg-field[class*="wc_"] label,
form.floating_from_label .pepro-login-reg-field.has-dropdown label,
form.floating_from_label .pepro-login-reg-field.focused label,
form.floating_from_label .pepro-login-reg-field.filled label {
	padding: 0 0.5rem;
	top: -0.6rem;
	font-size: smaller;
	background: var(--color-content-primary, #019162);
	border-radius: 1rem;
}

form.floating_from_label .pepro-login-reg-field[class*="wc_"] label,
form.floating_from_label .pepro-login-reg-field[class*="wc_"] label::after,
form.floating_from_label .pepro-login-reg-field.has-placeholder label,
form.floating_from_label .pepro-login-reg-field.has-placeholder label::after,
form.floating_from_label .pepro-login-reg-field.has-dropdown label,
form.floating_from_label .pepro-login-reg-field.has-dropdown label::after,
form.floating_from_label .pepro-login-reg-field.filled label,
form.floating_from_label .pepro-login-reg-field.filled label::after,
form.floating_from_label .pepro-login-reg-field.focused label,
form.floating_from_label .pepro-login-reg-field.focused label::after {
	color: var(--color-content-bg, #f0f0f0);
}

.extra-logon-headers h2 {
	color: rgba(35, 31, 32, 1);
	font-weight: bold;
}

.extra-logon-headers > a {
	font-weight: 500;
	-webkit-margin-start: 1rem;
	margin-inline-start: 1rem;
}

.pepro-login-reg-field.recaptcha .g-recaptcha {
	margin-bottom: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.peprodev-form-foot,
.peprodev_ndscl_login {
	position: relative;
}

.hrline {
	display: block;
	width: 100%;
	height: 1px;
	background: #ccc;
	margin: 2rem 0;
}

.peprodev_ndscl_login span.hrline + span {
	display: block;
	margin-top: -3rem;
	background: white;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	display: block;
	padding: 0 5px;
	margin-inline: auto;
	margin-bottom: 2rem;
}

.peprodev_ndscl_login {
	padding-top: 1rem;
}

#pepro-login-inline .extra-logon-headers.login-foout {
	display: block;
	text-align: center;
	padding-top: 1rem;
}

form.floating_from_label .pepro-login-reg-field label {
	top: 0.65rem !important;
	font-size: small !important;
	color: #545454 !important;
}
