/**
 * @Last modified by:   Amirhosseinhpv
 * @Last modified time: 2022/01/03 10:33:11
 */
:root {
	--tippy-color: #bf1e2e;
}

pdtoast, toastwide {
	display: block;
	padding: 0.5rem 2rem;
	background: var(--toast-bg, rgba(0, 0, 0, .8));
	color: #fff;
	text-align: center;
	bottom: 0;
	width: 100vw;
	padding: 1rem 0;
	left: 0;
	z-index: 99999;
	box-shadow: 0 2px 11px 0 rgba(0, 0,0, 0.5);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	-moz-backdrop-filter: blur(10px);
	transform: translateY(110%);
	position: fixed;
	z-index: 9999999999999999 !important;
}

pdtoast.active, toastwide.active {
	transform: translateY(0);
}

[data-pepro-reglogin] > form .force-ltr {
	direction: ltr;
	text-align: left;
	padding: 0 1rem;
}

[data-pepro-reglogin] > form .pepro-login-reg-field {
	margin: 0.8rem 0;
	text-align: start;
	position: relative;
}

[data-pepro-reglogin] > form.inline error {
	position: absolute;
	right: 0;
	left: auto;
	top: 3px;
	display: block;
	width: 18px;
	height: 18px;
	background: #d63638;
	text-align: center;
	border-radius: 100%;
	color: white;
	font-weight: 800;
	font-size: small;
	cursor: help;
}
[data-pepro-reglogin] > form.floating_from_label.inline error {
	top: -0.5rem;
}

[dir="rtl"] [data-pepro-reglogin] > form.inline error {
	left: 0;
	right: auto;
}

.tippy-box[data-theme~='error'] {
	background-color: var(--tippy-color);
}

.tippy-box[data-theme~='error'][data-placement^='top'] > .tippy-arrow::before {
	border-top-color: var(--tippy-color);
}

.tippy-box[data-theme~='error'][data-placement^='bottom'] > .tippy-arrow::before {
	border-bottom-color: var(--tippy-color);
}

.tippy-box[data-theme~='error'][data-placement^='left'] > .tippy-arrow::before {
	border-left-color: var(--tippy-color);
}

.tippy-box[data-theme~='error'][data-placement^='right'] > .tippy-arrow::before {
	border-right-color: var(--tippy-color);
}

.jconfirm.jconfirm-modern .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c {
	transform: scale(1) !important;
}

.tippy-content en{
	font-family: initial !important;
}

[data-pepro-reglogin] > form #login_error:empty,
[data-pepro-reglogin] > form .login_error:empty {
	display: none;
}

[data-pepro-reglogin] > form #login_error,
[data-pepro-reglogin] > form .login_error {
	display: block;
	border-left: 4px solid #72aee6;
	padding: 12px;
	margin-right: 0;
	margin-bottom: 20px;
	background-color: #fff;
	box-shadow: 0 1px 1px 0 #0000001a;
	border-color: #d63638;
}

[dir="rtl"] [data-pepro-reglogin] > form .login_error,
[dir="rtl"] [data-pepro-reglogin] > form #login_error {
	border-left: none;
	border-right: 4px solid #72aee6;
}

[data-pepro-reglogin] > form #login_error.info,
[data-pepro-reglogin] > form .login_error.info {
	border-color: #72aee6;
}

[data-pepro-reglogin] > form #login_error.success,
[data-pepro-reglogin] > form .login_error.success {
	border-color: #00a32a;
}

[data-pepro-reglogin] > form #login_error.error,
[data-pepro-reglogin] > form .login_error.error {
	border-color: #d63638;
}

[data-pepro-reglogin] > form #login_error{
	display: none !important;
}

.pepro-verify-container,
[data-pepro-reglogin] {
	display: block;
	overflow: hidden;
}

.popup-active {
	display: block !important;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #00000085;
	z-index: 99997 !important;
	overflow: hidden;
	cursor: pointer;
}

.popup-active .pepro-verify-container,
.popup-active [data-pepro-reglogin] {
	display: block !important;
	position: fixed;
	cursor: auto;
	left: 0;
	top: 0;
	width: 400px;
	background: white;
	color: black;
	box-shadow: 0 0 8px -2px #000;
	padding: 1rem;
	border-radius: 4px;
	transform: translate(calc(50vw - 200px), 10vh);
	max-height: 80vh;
	overflow: auto;
	scrollbar-width: thin;
	z-index: 99999 !important;
}

@media only screen and (max-width: 450px) {
	.popup-active .pepro-verify-container,
	.popup-active [data-pepro-reglogin] {
		width: 98%;
		transform: translate(1%, 10vh);
	}

	[data-pepro-reglogin] > form .pepro-form-links {
		flex-direction: column;
		align-items: center;
	}

	[data-pepro-reglogin] > form .pepro-form-links > a:not(:last-of-type) {
		margin-bottom: 1rem;
	}
}

[data-pepro-reglogin] > form .form-text.button.button-primary {
	min-width: 100%;
}

[data-pepro-reglogin] > form .pepro-login-reg-field.hide {
	display: none;
}

[data-pepro-reglogin] > form input,
[data-pepro-reglogin] > form input:active,
[data-pepro-reglogin] > form input:focus,
[data-pepro-reglogin] > form input:hover,
[data-pepro-reglogin] > form select,
[data-pepro-reglogin] > form select:active,
[data-pepro-reglogin] > form select:focus,
[data-pepro-reglogin] > form select:hover,
[data-pepro-reglogin] > form textarea,
[data-pepro-reglogin] > form textarea:active,
[data-pepro-reglogin] > form textarea:focus,
[data-pepro-reglogin] > form textarea:hover {
	/* border-color: #e8e8e8 !important; */
	box-shadow: 0 0 0 1px #e8e8e8 inset;
}
/*
[data-pepro-reglogin] > form input:valid,
[data-pepro-reglogin] > form select:valid,
[data-pepro-reglogin] > form textarea:valid {
	border-color: #61f599 !important;
	box-shadow: 0 0 0 1px #61f599 inset;
}

[data-pepro-reglogin] > form input:invalid,
[data-pepro-reglogin] > form select:invalid,
[data-pepro-reglogin] > form textarea:invalid {
	border-color: #f56171 !important;
	box-shadow: 0 0 0 1px #f56171 inset;
}*/

[data-pepro-reglogin] > form .form-required label::after {
	content: " *";
	color: currentColor;
}

.pepro-form-links a:not(:last-of-type) {
	margin-bottom: 0.5rem;
}

[data-pepro-reglogin] > form {
	display: none;
}

[data-pepro-reglogin] > form.inline {
	display: block;
	overflow: auto;
	max-height: calc(80vh - 3rem);
	scrollbar-width: thin;
	padding: 1rem;
}

.login-action-rp .button.wp-generate-pw {
	color: initial !important;
}

.pepro-login-reg-field.submit-wrap.form-required button {
	display: block;
	width: 100%;
}

.pepro-login-reg-field .ahrefbtn {
	width: 100%;
}

.otp-resend.disabled {
	color: gray;
}

.pepro-form-links a[class*="switch"]:last-of-type {
	float: inline-end;
}

.center_extra_button .pepro-form-links a[class*="switch"] {
	border: 1px solid #ccc;
	padding: 0.5rem;
	width: 100%;
	text-align: center;
	border-radius: 5px;
	clear: both;
	float: right;
}

.pepro-form-links .otp-resend {
	float: left;
	margin-top: 0.5rem;
}

.pepro-form-links .otp-changenum {
	float: right;
	margin-top: 0.5rem;
}

.pepro-login-reg-field.submit-wrap.form-required #submit {
	border-radius: 5px;
}

[data-tippy-root] {
	z-index: 99999999 !important;
}

.g-recaptcha {
	margin-bottom: 1.5rem;
}

.popup-active .pepro-verify-container,
.popup-active [data-pepro-reglogin] {
	overflow: hidden !important;
}

.pepro-form-links a:not(:last-of-type) {
	margin-bottom: 1rem !important;
}

.pepro-login-reg-field.recaptcha-wrap {
	direction: ltr;
}

.pepro-login-reg-container form h6 {
	border: none !important;
	text-align: center;
	padding: 2rem 0 1rem 0 !important;
	color: var(--color-content-primary, #019162);
	font-weight: bold;
}

.popup-active [data-pepro-reglogin] {
	border-radius: 1rem !important;
	padding: 0.5rem !important;
}

form.floating_from_label .pepro-login-reg-field label {
	position: absolute;
	top: 0.7rem;
	padding: 0 1rem;
	margin: 0 0.5rem;
	transition: all 0.3s linear;
	right: auto;
	left: 0;
	z-index: 2;
}

[dir="rtl"] form.floating_from_label .pepro-login-reg-field label {
	left: auto;
	right: 0;
}

form.floating_from_label .pepro-login-reg-field.has-placeholder label,
form.floating_from_label .pepro-login-reg-field[class*="wc_"] label,
form.floating_from_label .pepro-login-reg-field.has-dropdown label,
form.floating_from_label .pepro-login-reg-field.focused label,
form.floating_from_label .pepro-login-reg-field.filled label {
	padding: 0 0.5rem;
	top: -0.6rem;
	font-size: smaller;
	background: var(--color-content-primary, #019162);
	border-radius: 1rem;
}

form.floating_from_label .pepro-login-reg-field[class*="wc_"] label,
form.floating_from_label .pepro-login-reg-field[class*="wc_"] label::after,
form.floating_from_label .pepro-login-reg-field.has-placeholder label,
form.floating_from_label .pepro-login-reg-field.has-placeholder label::after,
form.floating_from_label .pepro-login-reg-field.has-dropdown label,
form.floating_from_label .pepro-login-reg-field.has-dropdown label::after,
form.floating_from_label .pepro-login-reg-field.filled label,
form.floating_from_label .pepro-login-reg-field.filled label::after,
form.floating_from_label .pepro-login-reg-field.focused label,
form.floating_from_label .pepro-login-reg-field.focused label::after {
	color: var(--color-content-bg, #f0f0f0);
}
